.expense {
  display: flex;
  justify-content: space-between;
}

.expense > div {
  flex-basis: 1;
  width: 100%;
  text-align: center;
}

.expense > div:first-child {
  text-align: left;
}

.expense > div:last-child {
  text-align: right;
}
