.cell {
  font-size: 16px;
  padding: 20px;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  overflow: hidden;
  max-height: 20px;
  transition: max-height 0.5s ease-in-out;
}

.expanded {
  max-height: 9999px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-weight: bold;
}

.details {
  opacity: 0;
  margin-top: 16px;
  height: fit-content;
  display: none;
}

.expanded .details {
  opacity: 100;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
