.page {
  background-color: var(--background-color);
  min-height: 100%;
  padding: 20px;
}

h1,
h2 {
  margin: 0;
}

.mainDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.totalSpend {
  font-size: xx-large;
  font-weight: bolder;
  width: fit-content;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
